* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: #f5f8fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 360px;
  padding: 35px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.08);
}

.card h2 {
  font-size: 28px;
  color: #111;
  font-weight: 600;
  margin-bottom: 6px;
}

.subtext {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

.subtext a {
  color: #007bff;
  text-decoration: none;
}
.input {
  width: 100%;
  padding: 13px;
  border: none;
  background: #eef2f7;
  border-radius: 10px;
  margin-bottom: 14px;
  font-size: 15px;
  transition: 0.2s;
}

.input:focus {
  outline: none;
  background: #e4e8ef;
}
.forgot {
  text-align: right;
  margin-bottom: 18px;
}

.forgot a {
  font-size: 14px;
  text-decoration: none;
  color: #007bff;
}
.login-btn {
  width: 100%;
  padding: 13px;
  background: #6e8efb;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: #5f7ced;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  background: #777;
  font-size: 18px;
  margin: 20px 64px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ddd;
}

.divider span {
  padding: 0 19px;
  background: #fff;
}

.social-btn {
  width: 100%;
  padding: 13px;
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.social-btn img {
  width: 22px;
  height: 22px;
}

.social-btn:hover {
  background: #f7f7f7;
}